[submodule "public"]
	path = public
	url = git@github.com:james-d-mitchell/james-d-mitchell.github.io.git
	branch = master
[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:james-d-mitchell/archie.git
	branch = master
[submodule "themes/accessible-minimalism"]
	path = themes/accessible-minimalism
	url = https://github.com/leonstafford/accessible-minimalism-hugo-theme
